/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: inherit;
  /* text-decoration: underline; */
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  /* may need height: 100%; Check all browsers */
}

button {
  font-family: 'Varela Round', sans-serif;
  font-family: 'Arimo', sans-serif;

  background-color: transparent;
  border: none;
  color: var(--white);
}

button:active {
  transform: translateY(3px);
}

.flex {
  display: flex;
  /* flex-direction: column; */
}

.hidden {
  display: none;
}

.main-heading {
  font-size: clamp(24px, 2.2vw, 30px);
}

.secondary-heading {
  font-size: clamp(28px, 2.3vw, 36px);
  font-weight: 500;
}
.secondary-heading {
  font-size: clamp(28px, 2.3vw, 36px);
  font-weight: 700;
}
.tertiary-heading {
  font-size: clamp(22px, 2.3vw, 24px);
  font-weight: 600;
}
.quaternary-heading {
  font-size: clamp(20px, 2.3vw, 22px);
  font-weight: 600;
}

.main-text {
  font-size: clamp(18px, 2vw, 20px);
}

.secondary-text {
  font-size: 16px;
  font-weight: 700;
  /* font-family: 'Varela Round', sans-serif; */
}

:root {
  --white: #f1f1f1;
  --black: #191919;
  --dark-accent: #494141;
  --background: #387097;

  --card-bg: rgba(255, 255, 255, 0.2);
  --card-bg-hover: rgba(255, 255, 255, 0.3);
}

[data-theme='short-break'] {
  --background: #2a7e19;
}
[data-theme='long-break'] {
  --background: #d26b11;
}
